
button:hover {
    background-color: #45a049;
}

.dice {
    margin: 5px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border 0.3s;
  }

  .dice.locked {
    border: 2px solid black;
  }

  .score {
    cursor: pointer;
    margin: 10px;
  }

  .score.locked {
    color: gray;
    pointer-events: none;
    text-decoration: line-through;
  }

  .locked-score {
    color: red;
    font-weight: bold;
  }
  
  .locked {
    opacity: 0.5;
  }
